*{
    background-color: rgb(215, 250, 225);
}
button{
    background-color: aqua;
    color: red;
    border-radius: 15px;
    padding: 10px 24px;
    border: none;
}
#green{
    color: black;
}
#red{
    color: blueviolet;
}
#bag{
 background-color: lightgreen;
 color: black;
}
#wishlist{
    background-color: antiquewhite;
    color: black;
}